click==6.7
defusedxml==0.5.0
Django==1.10.5
django-allauth==0.32.0
django-extensions==1.7.6
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
nltk==3.2.2
numpy==1.12.1
oauthlib==2.0.2
Paste==2.0.3
psycopg2==2.7.5
python3-openid==3.1.0
requests==2.14.1
requests-oauthlib==0.8.0
six==1.10.0
Werkzeug==0.11.15
